TELEGRAM_TOKEN=8786643033:AAFd8jI704XF03txcMAjtxOcTEnApQ9BV7c
GROQ_API_KEY=your_groq_api_kgsk_8r03KxqjkLHTexNytRWvWGdyb3FY2a2oDqWwKTIPdcy4iFOHCRIUey_here
SUPABASE_URL=https://mkyopvaxujtdjrokkccm.supabase.co
SUPABASE_KEY=supabase@2025
AUTHORIZED_TELEGRAM_ID=@Kamalloanbot
REMINDER_HOUR=9
TIMEZONE=Asia/Kolkata
